html{
	/*burgundy*/
/*background-color: #990000;*/
	/*pastel-blue*/
background-color: #9999ff;
}

body{
width: 960px;
margin-top: -20px;
margin-left: auto;
margin-right: auto;
margin-bottom: -20px;
	/*light grey*/
/*background-color: #d7d7c1;*/
	/*lighter-pastel-blue*/
background-color: #ccccff;
}

header{
font-family: 'Lato';
font-size: 52px;
margin: 20px 20px 30px 20px;
}

header a{
text-decoration: none;
color: black;
}

footer{
height: 50px;
margin: 30px 0px 0px 20px;
}

#social{
position: absolute;
text-align: right;
margin: -90px 0px 0px 420px;
width: 500px;
}

#social img{
display: inline-flex;
width: 35px;
height: 35px;
margin: 10px;
}

nav{
margin: -10px 20px 0px 20px;
display: inline-flex;
}

nav a{
margin-right: 20px;
text-decoration: none;
font-family: 'Montserrat', Sans-Serif;
}

h2{
margin: 20px 20px 20px 20px;
font-family: Century Gothic, 'Montserrat', "Century Gothic", Sans-Serif, Arial;
font-size: 34px;
}

h3{
margin-top: 30px;
margin-bottom: 10px;
font-size: 22px;
text-decoration: underline;
}

p{
font-family: 'Montserrat', Sans-Serif;
margin-bottom: 10px;
}

#iitsecurity, #mieslist, #carpetinn{
margin: 20px;
font-size: 14px;
}

#panic_button, #timer, #map{
margin: 20px 20px 20px 50px;
display: inline-flex;
}

#recent_events, #route, #documented_events{
margin: 20px 20px 20px 70px;
display: inline-flex;
}

#menu, #payment, #tracking{
margin: 20px 20px 20px 50px;
display: inline-flex;
width: 221px;
height: 393px;
}















