html{
	/*burgundy*/
/*background-color: #990000;*/
	/*pastel-blue*/
background-color: #9999ff;
}

body{
width: 960px;
margin-top: -20px;
margin-left: auto;
margin-right: auto;
margin-bottom: -20px;
	/*light grey*/
/*background-color: #d7d7c1;*/
	/*lighter-pastel-blue*/
background-color: #ccccff;
}

header{
font-family: 'Lato';
font-size: 52px;
margin: 20px 20px 30px 20px;
}

header a{
text-decoration: none;
color: black;
}

footer{
height: 50px;
margin: 30px 0px 0px 20px;
}

#info{
width: 300px;
margin: 30px 20px 40px 20px;
}

#info h1{
font-family: Century Gothic, 'Montserrat', "Century Gothic", Sans-Serif, Arial;
font-size: 34px;
}

#social{
position: absolute;
text-align: right;
margin: -225px 0px 0px 420px;
width: 500px;
}

#social img{
display: inline-flex;
width: 35px;
height: 35px;
margin: 10px;
}

nav{
margin: 0px 20px 0px 20px;
display: inline-flex;
}

nav a{
margin-right: 20px;
text-decoration: none;
font-family: 'Montserrat', Sans-Serif;
}

h2{
margin: 20px 20px 20px 0px;
font-family: Century Gothic, 'Montserrat', "Century Gothic", Sans-Serif, Arial;
font-size: 22px;
}

#professional_summary, #skills_abilities, #experience, #education, #projects{
margin: 20px;
font-size: 14px;
}

p{
font-family: 'Montserrat', Sans-Serif;
}

li{
font-family: 'Montserrat';
list-style-type: circle;
margin-left: 25px;
}

h3{
margin-top: 10px;
margin-bottom: 0px;
font-size: 16px;
font-family: Century Gothic, 'Montserrat', "Century Gothic", Sans-Serif, Arial;
}

h4{
margin-bottom: 10px;
font-size: 16px;
font-family: Century Gothic, 'Montserrat', "Century Gothic", Sans-Serif, Arial;
}




