header{
	padding: 10px 0;
}

header .row{
	display: flex;
	align-items: center;
}

header h1 {
	margin: 0;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

header nav{
	display: flex;
	justify-content: flex-end;
}

header p{
	padding: 0 20px;
}

html{
	height: 100%;
}

body{
	background: #000000;
}
